<html>
    <head>
        <title>SmileURLGate Service</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="stylesheets/index.css"/>
        <script type="text/javascript" src="javascripts/index.js"></script>
    </head>
    <body>
        <div class="header">
          <span>ShortUrl</span>
        </div>
        <div class="content">
          <div class="inputDiv">
            <input type="text" id="longUrl" placeholder="input your url..!"/>
            <input type="button" id="btnSubmit" value="Short!"/>
          </div>
            <span id="shortUrl"></span>
        </div>
        
    </body>


</html>